.navbar-right {
  margin-right: 10px;
}

.navbar>.container-fluid .navbar-brand  {
  margin-left: 10px;
}

}
a {
  color: #808080;
}

a:hover,
a:focus {
  color: #0085a1;
  text-decoration: none;
}

/*
There are a couple of additional divs etc I defined but am not using yet

  - intro (for intro text on landing page)

*/

